@page "/viewAllTarshehBooks"
@using KSHIFSYSTEM.Components
@inject ITarsheh _Tarsheh
@inject IJSRuntime _js
@inject ISnackbar _Sb
@inject NavigationManager _navigationManager

@inject IDialogService _Dialog

@attribute [Authorize(Roles = "admin,eatalaJazaea,DawaView")]
<PageTitle>  كتب الترشيح </PageTitle>
<div class="table-responsive" id="Area1">
    <MudText Style="color:white" Typo="Typo.h4"><center>جدول كتب الترشيح </center><br /></MudText>
    <MudDataGrid Striped="true" Elevation="18" Bordered="true"
                 Style="background-color:whitesmoke; border:solid;padding:20px;border-color:lightblue;border-radius:20px;margin-left:20px ;margin-right:20px"
                 T="TarshehBook" MultiSelection="true" Items="@Elements" SortMode="SortMode.Multiple" Filterable="false"
                 Hover="true" Hideable="false" QuickFilter="@_quickFilter" RowClick="@RowClicked" SelectedItemsChanged="@SelectedItemsChanged">
        <ToolBarContent>


            <MudTextField FullWidth @bind-Value="_searchString" Placeholder="بحث" Adornment="Adornment.Start" Immediate="true"
                          Style="background-color:white" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            <AuthorizeView Roles="admin,eatalaJazaea">
                <Authorized>
                    <MudButton @onclick="DeleteDawas" Variant="Variant.Filled" style="margin-right:40px" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error"></MudButton>

                </Authorized>

            </AuthorizeView>



            <MudButton @onclick="printSelectedItem" Variant="Variant.Filled" style="margin-right:40px" StartIcon="@Icons.Material.Filled.Print" Color="Color.Tertiary">اطبع المحدد</MudButton>
            <MudButton @onclick='() => _navigationManager.NavigateTo("/TarshehBookPrint")' Variant="Variant.Filled" style="margin-right:40px" StartIcon="@Icons.Material.Filled.Print" Color="Color.Tertiary"></MudButton>
        </ToolBarContent>
        <Columns>
            <SelectColumn T="TarshehBook" />
            <PropertyColumn Property="x => x.BookNo" Title="رقم الكتاب" Sortable="true" Filterable="false" />
            <PropertyColumn Format="dd.MM.yyyy" Property="x => x.KshefDate" Title=" تاريخ الكتاب" />
            <PropertyColumn Property="x => x.JehaName" Title="اسم الجهة" />
            <PropertyColumn Property="x => x.AlwasilNo" Title="رقم الوصل" Sortable="true" Filterable="false" />
            <PropertyColumn Format="dd.MM.yyyy" Property="x => x.AlwasilDate" Title="تاريخ الوصل" Sortable="true" Filterable="false" />
            <PropertyColumn Property="x => x.PlaceNo" Title="رقم القطعة" />
            <PropertyColumn Property="x => x.MokataNO" Title="رقم المقاطعة" />
            <PropertyColumn Property="x => x.city" Title="المحافظة " />
            <PropertyColumn Property="x => x.KshifType" Title="نوع الكشف " />
            <PropertyColumn Format="dd.MM.yyyy" Property="x => x.KshefDate" Title="تاريخ الكشف " />
            <PropertyColumn Property="x => x.AddadAlkhobraa" Title="عدد الخبراء" />
            <PropertyColumn Property="x => x.WasilNoM" Title="رقم وصل الموجودات" />
            <PropertyColumn Property="x => x.WasilDateM" Title="تاريخ وصل الموجودات" />
            <PropertyColumn Property="x => x.WasilNoP" Title="رقم وصل المواطنين" />
            <PropertyColumn Property="x => x.WasilDateP" Title="تاريخ وصل المواطنين" />


            <TemplateColumn>
                <CellTemplate>
                    اضافة النتيجة
                    <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Add" OnClick="(()=>AddTarshehBookResult(context.Item))" />
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.KshifResult" Title="نتيجة الكشف " />

            <TemplateColumn>
                <CellTemplate>
                    استعراض النتيجة
                    <iframe src="@context.Item.KshifResultPicture" style="border: none;width:100px;height:50px;align-content:center "></iframe>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.SpecaialName1" Title="اسم الخبير الاول" />
            <PropertyColumn Property="x => x.SpecaialName2" Title="اسم الخبير الثاني" />
            <PropertyColumn Property="x => x.SpecaialName3" Title="اسم الخبير الثالث" />
            <PropertyColumn Property="x => x.SpecaialName4" Title="اسم الخبير الرابع" />
            <PropertyColumn Property="x => x.SpecaialName5" Title="اسم الخبير الخامس" />
            <PropertyColumn Property="x => x.SpecaialName6" Title="اسم الخبير السادس" />
            <PropertyColumn Property="x => x.SpecaialName7" Title="اسم الخبير السابع" />
            <PropertyColumn Property="x => x.SpecaialName8" Title="اسم الخبير الثامن" />
            <PropertyColumn Property="x => x.SpecaialName9" Title="اسم الخبير التاسع" />
            <PropertyColumn Property="x => x.SpecaialName10" Title="اسم الخبير العاشر" />
            <PropertyColumn Property="x => x.SpecaialName11" Title="اسم الخبير الحادي عشر " />
            <PropertyColumn Property="x => x.SpecaialName12" Title="اسم الخبير الثاني عشر" />
            <PropertyColumn Property="x => x.SpecaialName13" Title="اسم الخبير الثالث عشر" />
            <PropertyColumn Property="x => x.SpecaialName14" Title="اسم الخبير الرابع عشر" />
            <PropertyColumn Property="x => x.SpecaialName15" Title="اسم الخبير الخامس عشر" />
            <PropertyColumn Property="x => x.UserName" Title="اسم المستخدم" />
            <PropertyColumn Property="x => x.Update_Date" Title="تاريخ التحديث" />
            <TemplateColumn>

                <CellTemplate>
                    <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.EditNote" OnClick="(()=>StartedEditingItemFunction(context.Item))">    اضافة نتيجة الكشف</MudIconButton>
                </CellTemplate>
            </TemplateColumn>

        </Columns>
        <PagerContent>
            <MudDataGridPager T="TarshehBook" />
        </PagerContent>
    </MudDataGrid>

</div>

<div style="direction:ltr;display:none" id="Area2" class="print-table">
    <div style="display: flex;
            justify-content:space-around;
            align-items: center;" class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3">
        <div class="col">
            وزارة الموارد المائية
            <br />
            ألهيأة العامة للمساحة
        </div>
        <div class="col">
            <img style="width:200px;height:150px" src="/images/loginbg.jpg" />

        </div>
        <div class="col" style="padding:20PX">
            تاريخ ورقم الاستمارة
            <br />
            <MudTable Bordered="false" Items="@ListOfDeletedBooks" Hover="false" Breakpoint="Breakpoint.Sm">

                <RowTemplate>
                   <center>@context.Update_Date.Value.ToString("dd/MM/yyyy")</center> @*  | hh:mm:ss *@
                    
                    <center>(@context.ID)</center>
                </RowTemplate>
                

            </MudTable>

        </div>
        
    </div>
    <hr />
    <center><h2 style="background-color:green; color:white"> لجنة الترشيحات الالكتروني</h2></center>
    <hr />
    <div style="display: flex;
            justify-content:center;
            align-items: center;">
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>
                <MudTh Style="width:215px;height:40px">اسم جهة الطلب</MudTh>

                <MudTd Style="width:660Px;height:40px" DataLabel="اسم الجهة"><center>@context.JehaName</center></MudTd>

            </RowTemplate>

        </MudTable>
    </div>

    <div style="display: flex;
            justify-content:center;
            align-items: center;" class="print-table th">
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>
                <MudTh Style="width:220px;height:40px">رقم الكتاب</MudTh>

                <MudTd Style="width:220px;height:40px" DataLabel="رقم الكتاب">@context.BookNo</MudTd>
                <MudTh Style="width:220px;height:40px"> تاريخ الكتاب</MudTh>

                <MudTd Style="width:220px;height:40px" DataLabel="تاريخ الكتاب">@context.BookDate.Value.ToString("dd/MM/yyyy")</MudTd>
            </RowTemplate>
        </MudTable>
    </div>

    <div style="display: flex;
            justify-content:center;
            align-items: center" class="print-table th">
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">
            <HeaderContent>


            </HeaderContent>
            <RowTemplate>
                <MudTh Style="width:220px;height:40px">رقم كتاب الوارد</MudTh>
                <MudTd Style="width:220px;height:40px" DataLabel="رقم كتاب الوارد">@context.HayaBookNo</MudTd>
                <MudTh Style="width:220px;height:40px"> تاريخ كتاب الوارد</MudTh>
                <MudTd Style="width:220px;height:40px" DataLabel="تاريخ كتاب الوارد">@context.HayaBookDate.Value.ToString("dd-MM-yyyy")</MudTd>

            </RowTemplate>

        </MudTable>
    </div>
    <div style="display: flex;
            justify-content:center;
            align-items: center;" class="print-table th">
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>
                <MudTh Style="width:220px;height:40px">رقم الايراد</MudTh>

                <MudTd Style="width:220px;height:40px">@context.WasilDateM</MudTd>

                <MudTh Style="width:220px;height:40px"> التاريخ</MudTh>

                <MudTd Style="width:220px;height:40px">@(context.WasilDateP.HasValue ? context.WasilDateM.Value.ToString("dd-MM-yyyy") : "")</MudTd>

            </RowTemplate>

        </MudTable>
    </div>


    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">
            <HeaderContent>


            </HeaderContent>
            <RowTemplate>
                <MudTh Style="width:220px;height:40px">رقم الوصل </MudTh>
                <MudTd Style="width:220px;height:40px" DataLabel="رقم الوصل ">@context.AlwasilNo</MudTd>

                <MudTh Style="width:220px;height:40px"> تاريخ الوصل </MudTh>
                <MudTd Style="width:220px;height:40px" DataLabel="تاريخ الوصل ">@context.AlwasilDate.Value.ToString("dd/MM/yyyy")</MudTd>

            </RowTemplate>

        </MudTable>
    </div>
    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>
                <MudTh Style="width:215px;height:40px">تاريخ الكشف </MudTh>

                <MudTd Style="width:660Px;height:40px"><center>@context.KshefDate.Value.ToString("dd/MM/yyyy")</center></MudTd>

            </RowTemplate>
        </MudTable>
    </div>
    <center style="background-color:green; color:white" dir="rtl"><h3> اشارة الى الكتاب الوارد الينا اعلاه نرشح السادة المدرجة اسمائهم ادناه :</h3></center>

    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">
            <RowTemplate>
                <MudTh Style="width:220px;height:40px">الاسم</MudTh>
                <MudTd Style="width:220px;height:40px">العنوان الوظيفي</MudTd>
                <MudTh Style="width:220px;height:40px"> الاسم</MudTh>
                <MudTd Style="width:220px;height:40px">العنوان الوظيفي</MudTd>
            </RowTemplate>
        </MudTable>
    </div>

    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>
                <MudTh onchange="@GetSpecialTitle1(@context.SpecaialName1)" Style="width:220px;height:40px">@context.SpecaialName1</MudTh>
                <MudTh Style="width:220px;height:40px" >@JobTitle1</MudTh>
                <MudTh onchange="@GetSpecialTitle2(@context.SpecaialName2)" Style="width:220px;height:40px">@context.SpecaialName2</MudTh>
                <MudTh Style="width:220px;height:40px" >@JobTitle2</MudTh>
            </RowTemplate>
        </MudTable>
    </div>

    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>

                <MudTh onchange="@GetSpecialTitle3(@context.SpecaialName3)" Style="width:215px;height:40px">@context.SpecaialName3</MudTh>
                <MudTh Style="width:220px;height:40px">@JobTitle3</MudTh>

                <MudTh onchange="@GetSpecialTitle4(@context.SpecaialName4)" Style="width:220px;height:40px">@context.SpecaialName4</MudTh>
                <MudTh Style="width:220px;height:40px">@JobTitle4</MudTh>
            </RowTemplate>
        </MudTable>
    </div>

    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>
                <MudTh onchange="@GetSpecialTitle5(@context.SpecaialName5)" Style="width:220px;height:40px">@context.SpecaialName5</MudTh>
                <MudTh Style="width:220px;height:40px">@JobTitle5</MudTh>
                <MudTh onchange="@GetSpecialTitle6(@context.SpecaialName6)" Style="width:220px;height:40px">@context.SpecaialName6</MudTh>
                <MudTh Style="width:220px;height:40px" >@JobTitle6</MudTh>

            </RowTemplate>
        </MudTable>
    </div>

    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">
            <RowTemplate>

                <MudTd onchange="@GetSpecialTitle7(@context.SpecaialName7)" Style="width:220px;height:40px" >@context.SpecaialName7</MudTd>
                <MudTd Style="width:220px;height:40px">@JobTitle7</MudTd>
                <MudTd onchange="@GetSpecialTitle8(@context.SpecaialName8)" Style="width:220px;height:40px">@context.SpecaialName8</MudTd>
                <MudTd Style="width:220px;height:40px" >@JobTitle8</MudTd>

            </RowTemplate>


        </MudTable>
    </div>

    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>

                <MudTd onchange="@GetSpecialTitle3(@context.SpecaialName9)" Style="width:220px;height:40px" >@context.SpecaialName9</MudTd>
                <MudTd Style="width:220px;height:40px">@JobTitle9</MudTd>
                <MudTd onchange="@GetSpecialTitle4(@context.SpecaialName10)" Style="width:220px;height:40px">@context.SpecaialName10</MudTd>
                <MudTd Style="width:220px;height:40px" >@JobTitle10</MudTd>

            </RowTemplate>


        </MudTable>
    </div>

    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>

                <MudTd onchange="@GetSpecialTitle3(@context.SpecaialName11)" Style="width:220px;height:40px" DataLabel="">@context.SpecaialName11</MudTd>
                <MudTd Style="width:220px;height:40px">@JobTitle11</MudTd>


                <MudTd onchange="@GetSpecialTitle4(@context.SpecaialName12)" Style="width:220px;height:40px" DataLabel="">@context.SpecaialName12</MudTd>
                <MudTd Style="width:220px;height:40px" >@JobTitle12</MudTd>

            </RowTemplate>


        </MudTable>
    </div>



    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>

                <MudTd onchange="@GetSpecialTitle3(@context.SpecaialName13)" Style="width:220px;height:40px" >@context.SpecaialName13</MudTd>
                <MudTd Style="width:220px;height:40px" >@JobTitle13</MudTd>
                <MudTd onchange="@GetSpecialTitle4(@context.SpecaialName14)" Style="width:220px;height:40px" >@context.SpecaialName14</MudTd>
                <MudTd Style="width:220px;height:40px" >@JobTitle14</MudTd>

            </RowTemplate>


        </MudTable>
    </div>
    <div>
        <MudTable Bordered="true" Items="@ListOfDeletedBooks" Hover="true" Breakpoint="Breakpoint.Sm">

            <RowTemplate>

                <MudTd onchange="@GetSpecialTitle3(@context.SpecaialName15)" Style="width:215px;height:40px" DataLabel="">@context.SpecaialName15</MudTd>
                <MudTd Style="width:215px;height:40px" DataLabel="">@JobTitle15</MudTd>
            </RowTemplate>
        </MudTable>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="display: flex;
            justify-content:space-around;
            " class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3">
        <div class="col">
            الموظف المختص

        </div>
        <div class="col">
            عضو اللجنة
        </div>
        <div class="col">
            ر.اللجنة
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="display: flex;
            justify-content:space-around;
                " class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3">
        <div class="col">
            معاون المدير العام

        </div>
        <div class="col">
        </div>
        <div class="col">
            المدير العام
        </div>
    </div>

</div>

<MudScrollToTop>
    <MudFab Color="Color.Tertiary" Icon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>


    @code {
    private List<string> _events = new();
    private string _searchString;
    private bool _sortNameByLength;
    public string JobTitle1;
    public string JobTitle2;
    public string JobTitle3;
    public string JobTitle4;
    public string JobTitle5;
    public string JobTitle6;
    public string JobTitle7;
    public string JobTitle8;
    public string JobTitle9;
    public string JobTitle10;
    public string JobTitle11;
    public string JobTitle12;
    public string JobTitle13;
    public string JobTitle14;
    public string JobTitle15;

    private IEnumerable<TarshehBook> Elements = new List<TarshehBook>();
    private List<TarshehBook> SpecificRecords { get; set; } = new List<TarshehBook>();
    public List<TarshehBook> ListOfDeletedBooks { get; set; } = new List<TarshehBook>();

    protected override async Task OnInitializedAsync()
    {
        Elements = await _Tarsheh.GetAllTarshehBooks();
    }
    void RowClicked(DataGridRowClickEventArgs<TarshehBook> args)
    {
        _events.Insert(0, $"Event = RowClick, Index = {args.RowIndex}, Data = {System.Text.Json.JsonSerializer.Serialize(args.Item)}");
    }

    void SelectedItemsChanged(HashSet<TarshehBook> items)
    {
        _events.Insert(0, $"Event = SelectedItemsChanged, Data = {System.Text.Json.JsonSerializer.Serialize(items)}");
        ListOfDeletedBooks = items.ToList();
    }

    private async Task AddTarshehBookResult(TarshehBook item)
    {

        //_Nav.NavigateTo($"/EditEmp/{item.Id}");
        var Parameters = new DialogParameters();
        Parameters.Add("Id", item.ID);
        var ModalOptions = new DialogOptions();
        ModalOptions.MaxWidth = MaxWidth.Medium;
        ModalOptions.FullWidth = true;
        ModalOptions.CloseButton = true;
        ModalOptions.CloseOnEscapeKey = true;
        ModalOptions.Position = DialogPosition.Center;

        await _Dialog.ShowAsync<AddResult>("أضافة نتيجة الكشف", Parameters, ModalOptions);
    }

    private Func<TarshehBook, object> _sortBy => x =>
    {
        if (_sortNameByLength)
            return x.SpecaialName1.Length;
        else
            return x.SpecaialName2;
    };
    // quick filter - filter gobally across multiple columns with the same input
    private Func<TarshehBook, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if (x.BookNo.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($" {x.SpecaialName1}{x.SpecaialName2}{x.SpecaialName3}{x.SpecaialName4}{x.SpecaialName5}{x.SpecaialName6}{x.SpecaialName7}{x.SpecaialName15} {x.SpecaialName14}{x.SpecaialName13}{x.SpecaialName12}{x.SpecaialName11}{x.SpecaialName10}{x.SpecaialName9}{x.SpecaialName8} ".Contains(_searchString))
            return true;
        if ($"{x.UserName}".Contains(_searchString))
            return true;
        if (x.JehaName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;



        if (x.BookDate.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.KshefDate.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($" {x.SpecaialName1}  {x.SpecaialName2} {x.SpecaialName3} {x.SpecaialName4} {x.SpecaialName5} {x.SpecaialName6} {x.SpecaialName7} {x.SpecaialName8}".Contains(_searchString))
            return true;

        if ($" {x.SpecaialName9}  {x.SpecaialName10} {x.SpecaialName11} {x.SpecaialName12} {x.SpecaialName13} {x.SpecaialName14} {x.SpecaialName15} {x.SpecaialName16}".Contains(_searchString))
            return true;

        if (x.KshifType.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        // if (x.DeptTable.OfficeTable.OfficeName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;

        if ($"{x.SpecaialName1} {x.BookNo} {x.WasilNoP} {x.WasilNoM.ToString()} {x.JehaName}".Contains(_searchString))
            return true;

        return false;
    };
    private async Task DeleteDawas()
    {
        var Response = await _js.InvokeAsync<bool>("confirm", "هل انت متاكد من الحذف");
        if (Response)
        {
            var BackEndREsponse = await _Tarsheh.DeleteListOfDawas(ListOfDeletedBooks.Select(a => a.ID).ToList());
            _Sb.Add(BackEndREsponse, Severity.Success);
            Elements = await _Tarsheh.GetAllTarshehBooks();
        }
        else
        {
            return;
        }
    }
    private async void printAll()
    {
        await _js.InvokeVoidAsync("print", "Area1");
    }
    private async void printSelectedItem()
    {
        // SpecificRecords = await _Tarsheh.GetSpecificBooks(ListOfDeletedBooks.Select(a => a.ID).ToList());
        // if (SpecificRecords is null)
        // {
        //     await _js.InvokeVoidAsync("alert", "اعد المحاولة");
        // }
        // else
        // {}
    
            await _js.InvokeVoidAsync("print", "Area2");
        
    }
    private async Task StartedEditingItemFunction(TarshehBook item)
    {
        var Parameters = new DialogParameters();
        Parameters.Add("Id", item.ID);
        var ModalOptions = new DialogOptions();
        ModalOptions.MaxWidth = MaxWidth.Medium;
        ModalOptions.FullWidth = true;
        ModalOptions.CloseButton = true;
        ModalOptions.CloseOnEscapeKey = true;
        ModalOptions.Position = DialogPosition.Center;
        await _Dialog.ShowAsync<EditTarshehBooks>("تحديث الكتاب", Parameters, ModalOptions);
    }
    private async Task GetSpecialTitle1(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle1 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle2(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle2 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle3(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle3 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle4(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle4 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle5(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle5 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle6(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle6 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle7(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle7 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle8(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle8 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle9(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle9 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle10(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle10 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle11(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle11 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle12(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle12 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle13(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle13 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle14(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle14 = JobTitle.ToString();

    }
    private async Task GetSpecialTitle15(string SpecialName)
    {
        var JobTitle = await _Tarsheh.GetSpecialJobTitle(SpecialName);
        JobTitle15 = JobTitle.ToString();

    }

}