@inject IJSRuntime _js
@inject IWebHostEnvironment _env
@inject NavigationManager _navigationManager
@inject IDawa _Dawa
@inject ISnackbar _Sb
@inject ITarsheh _Tarsh


@attribute [Authorize(Roles = "admin,eatalaJazaea")]

<div  style=" direction:rtl; border:solid;padding:20px; margin:20px;background-color:white;border-color:lightblue;border-radius:20px;">
    <EditForm Model="TarshehViewModel" OnValidSubmit="EditData">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-col-2 " >
            <div class="col">
                <MudItem>
                    <MudTextField Style="background-color:white" Label="رقم الكتاب الوارد" T="int" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.BookNo" />
                </MudItem>
            </div>
            <div class="col">
                <MudSelect @bind-Value="@TarshehViewModel.city" Label="اخترالمحافظة " Variant="Variant.Outlined">
                    <MudSelectItem Value="@("  بغداد")"> بغداد </MudSelectItem>
                    <MudSelectItem Value="@("  البصرة")">البصرة  </MudSelectItem>
                    <MudSelectItem Value="@(" الديوانية ")"> الديوانية </MudSelectItem>
                    <MudSelectItem Value="@("العمارة")">العمارة</MudSelectItem>
                    <MudSelectItem Value="@("الموصل")">الموصل</MudSelectItem>
                    <MudSelectItem Value="@("كركوك")">كركوك</MudSelectItem>
                    <MudSelectItem Value="@("دهوك")">الموصل</MudSelectItem>
                    <MudSelectItem Value="@("كربلاء")">كربلاء</MudSelectItem>
                    <MudSelectItem Value="@("النجف")">النجف</MudSelectItem>
                    <MudSelectItem Value="@("ديالى")">ديالى</MudSelectItem>
                    <MudSelectItem Value="@("اربيل")">اربيل</MudSelectItem>
                    <MudSelectItem Value="@("انبار")">انبار</MudSelectItem>
                    <MudSelectItem Value="@("بابل")">بابل</MudSelectItem>
                    <MudSelectItem Value="@("سليمانية")">سليمانية</MudSelectItem>
                    <MudSelectItem Value="@("صلاح الدين")">صلاح الدين</MudSelectItem>
                    <MudSelectItem Value="@(" المثنى")"> المثنى</MudSelectItem>
                    <MudSelectItem Value="@(" ميسان")"> ميسان</MudSelectItem>
                    <MudSelectItem Value="@(" الكوت")"> الكوت</MudSelectItem>

                </MudSelect>
                
            </div>
            <div class="col">
                <MudItem>
                    <MudSelect Style="background-color:white" Label="نوع الكشف" T="string" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.KshifType">
                        <MudSelectItem Value="@("")"> أختر نوع الكشف</MudSelectItem>
                            <MudSelectItem Value="@("محاكم")">محاكم</MudSelectItem>
                            <MudSelectItem Value="@("عقارات دولة")">عقارات دولة </MudSelectItem>
                    </MudSelect>
                </MudItem>
            </div>
            
            <div class="col">
                <MudItem>
                    <MudTextField Style="background-color:white" Label="اسم جهة الاصدار والمقاطعة" T="string" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.JehaName" />
                </MudItem>
            </div>
        </div>

        <br />
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

            
            <div class="col">
                <MudItem>
                    <MudTextField Style="background-color:white" Label="تاريخ الكشف" T="DateTime?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.KshefDate" />
                </MudItem>
            </div>
            <div class="col">
                <MudItem>
                    <MudTextField Style="background-color:white" Label="رقم الوصل" T="int?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.WasilNoP" />
                </MudItem>
            </div>

            <div class="col">
                <MudItem>
                    <MudTextField Style="background-color:white" Label=" تاريخ الوصل " T="DateTime?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.WasilDateP" />
                </MudItem>
            </div>
            

        </div>
        
        <br />

        <br />
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
            <div class="col">
                <MudItem>
                    <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName1" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest1(TarshehViewModel.Id,TarshehViewModel.SpecaialName1))" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName2" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest2(TarshehViewModel.Id,TarshehViewModel.SpecaialName2))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
        </div>
         <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName3" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest3(TarshehViewModel.Id,TarshehViewModel.SpecaialName3))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName4" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest4(TarshehViewModel.Id,TarshehViewModel.SpecaialName4))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             
         </div>
         <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName5" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest5(TarshehViewModel.Id,TarshehViewModel.SpecaialName5))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName6" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest6(TarshehViewModel.Id,TarshehViewModel.SpecaialName6))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>

         </div>
         <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName7" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest7(TarshehViewModel.Id,TarshehViewModel.SpecaialName7))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName8" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest8(TarshehViewModel.Id,TarshehViewModel.SpecaialName8))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             
         </div>
         <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName9" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest9(TarshehViewModel.Id,TarshehViewModel.SpecaialName9))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName10" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest10(TarshehViewModel.Id,TarshehViewModel.SpecaialName10))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>

         </div>
         <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName11" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest9(TarshehViewModel.Id,TarshehViewModel.SpecaialName11))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName12" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest10(TarshehViewModel.Id,TarshehViewModel.SpecaialName12))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>

         </div>
         <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName13" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest9(TarshehViewModel.Id,TarshehViewModel.SpecaialName13))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName14" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest10(TarshehViewModel.Id,TarshehViewModel.SpecaialName14))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>


         </div>
         <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName15" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest9(TarshehViewModel.Id,TarshehViewModel.SpecaialName15))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudTextField ReadOnly Style="background-color:white" Label="اسم الخبير " T="string?" Variant="Variant.Outlined" @bind-Value="@TarshehViewModel.SpecaialName16" />
                 </MudItem>
             </div>
             <div class="col">
                 <MudItem>
                     <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=>DeleteSpecialest10(TarshehViewModel.Id,TarshehViewModel.SpecaialName16))">    اضافة نتيجة الكشف</MudIconButton>
                 </MudItem>
             </div>


         </div>
         

        <br />
        <div class="row">
             <div class="col">
                 <MudButton @onclick='() => _navigationManager.NavigateTo("../viewAllTarshehBooks")' FullWidth Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" IconColor="Color.Error" Size="Size.Large">تاكيد حذف الخبراء </MudButton>

            </div>
             <div class="col">

                 <MudButton ButtonType="ButtonType.Submit" @onclick='() => _navigationManager.NavigateTo("../viewAllTarshehBooks")' FullWidth Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" IconColor="Color.Success" Size="Size.Large">الغاء حذف الخبراء وحفظ تعديلات الكتاب </MudButton>
             </div>

        </div>
         
    </EditForm>
</div>


 @code{


    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public int Id { get; set; }
    public InputFileChangeEventArgs UplaodedDawaImage { get; set; }

    public TarshehViewModel TarshehViewModel { get; set; } = new TarshehViewModel();

    private async Task EditData()
    {

        var Response = await _Tarsh.EditTarshehViewModel(TarshehViewModel);
        _Sb.Add(Response, Severity.Info);



    }


    protected override async Task OnInitializedAsync()
    {
        TarshehViewModel = await _Tarsh.GetTarshehViewModelByUserId(Id);
    }
    private async Task DeleteSpecialest1(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName1(Id, SpecialestName);
        _Sb.Add(Response, Severity.Info);
        

    }
    private async Task DeleteSpecialest2(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName2(Id, SpecialestName);
        _Sb.Add( Response, Severity.Info);
        

    }
    private async Task DeleteSpecialest3(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName3(Id, SpecialestName);
        _Sb.Add( Response, Severity.Info);
        

    }
    private async Task DeleteSpecialest4(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName4(Id, SpecialestName);
        _Sb.Add( Response, Severity.Info);
        

    }
    private async Task DeleteSpecialest5(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName5(Id, SpecialestName);
        _Sb.Add( Response, Severity.Info);
        

    }
    private async Task DeleteSpecialest6(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName6(Id, SpecialestName);
        _Sb.Add( Response, Severity.Info);
        

    }
    private async Task DeleteSpecialest7(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName7(Id, SpecialestName);
        
    }
    private async Task DeleteSpecialest8(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName8(Id, SpecialestName);
        _Sb.Add( Response, Severity.Info);
        

    }
    private async Task DeleteSpecialest9(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName9(Id, SpecialestName);
        _Sb.Add( Response, Severity.Info);
        

    }
    private async Task DeleteSpecialest10(int Id, string SpecialestName)
    {
        var Response = await _Tarsh.DeleteSpecailestName10(Id, SpecialestName);
        _Sb.Add( Response, Severity.Info);
        
    }

}